[submodule "projects/blabla"]
	path = projects/blabla
	url = git@bitbucket.org:ecosnail/blabla.git
[submodule "projects/config"]
	path = projects/config
	url = git@bitbucket.org:ecosnail/config.git
[submodule "projects/nono"]
	path = projects/nono
	url = git@bitbucket.org:snailbaron/nono.git
[submodule "projects/tail"]
	path = projects/tail
	url = git@bitbucket.org:ecosnail/tail.git
